<template>
  <v-row justify="center">
    <v-stepper tile v-model="e1" class="mx-0 mt-6" width="110%">
      <v-stepper-items class="mx-0">
        <v-stepper-content step="1">
          <v-data-table
            :headers="headers"
            :items="items"
            class="elevation-1"
            calculate-widths
          >
            <template v-slot:top>
              <v-toolbar
                flat
                style="background-color: #40AE49"
                height="100px"
                rounded="lg"
              >
                <v-toolbar-title style="color:white">Produk yang ditampilkan</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-dialog
                  v-model="dialog"
                  max-width="900px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      color="white"
                      dark
                      outlined
                      class="mb-2"
                      @click="e1=2"
                    >
                      New Item
                    </v-btn>
                  </template>
                </v-dialog>
                <v-dialog v-model="dialogDelete" max-width="500px">
                  <v-card>
                    <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                      <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-icon
                small
                @click="editItem(item)"
                color="blue"
              >
                mdi-pencil
              </v-icon>
              <a href="/cms/produk/produkDetail" style="text-decoration:none">
                <v-icon
                  small
                  color="green"
                >
                  mdi-eye
                </v-icon>
              </a>
              <v-icon
                small
                @click="deleteItem(item)"
                color="red"
              >
                mdi-delete
              </v-icon>
            </template>
            <template v-slot:no-data>
              <v-btn
                color="primary"
                @click="initialize"
              >
                Reset
              </v-btn>
            </template>
          </v-data-table>
        </v-stepper-content>
        <v-stepper-content step="2">      
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="white"
                dark
                outlined
                class="mb-2"
                v-bind="attrs"
                v-on="on"
              >
                Tambah Berita
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" lg="6">
                      <v-text-field
                        v-model="editedItem.productName"
                        label="Nama Produk"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="6">
                      <v-text-field
                        v-model="editedItem.productPrice"
                        label="Harga Produk"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="6">
                      <v-text-field
                        v-model="editedItem.kodeMB"
                        label="Kode MB"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="6">
                      <v-text-field
                        v-model="editedItem.namaMB"
                        label="Nama MB"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="4">
                      <v-text-field
                        v-model="editedItem.ktp"
                        label="KTP"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="8">
                      <v-text-field
                        v-model="editedItem.alamat"
                        label="Alamat"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="8">
                      <v-text-field
                        v-model="editedItem.desc"
                        label="Deskripsi"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="4">
                      <v-select
                        :items="isVerified"
                        v-model="editedItem.verified"
                        label="Verified?"
                      ></v-select>
                    </v-col>
                    <v-col
                      cols="12"
                    >
                      <v-file-input
                        :rules="rules"
                        v-model="editedItem.img"
                        accept="image/png, image/jpeg, image/bmp"
                        placeholder="Pick an Image"
                        prepend-icon="mdi-camera"
                        label="Gallery Foto Image"
                      ></v-file-input>
                    </v-col>
                    <!-- <v-col cols="12">
                      <h3 class="mb-4">Marketplace and Social Media</h3 >
                      <v-text-field
                        v-model="editedItem.shopee"
                        label="shopee"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                        v-model="editedItem.tokopedia"
                        label="tokopedia"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                        v-model="editedItem.instagram"
                        label="instagram"
                      ></v-text-field>
                    </v-col> -->
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="close"
                >
                  Cancel
                </v-btn>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="save"
                >
                  Save
                </v-btn>
              </v-card-actions>
            </v-card>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>

  </v-row>
</template>
<script>
  export default {
    data: () => ({
      e1:'1',
      isVerified:[
        { text: 'Yes', value: 'yes'},
        { text: 'No', value: 'no'},
      ],
      dialog: false,
      dialogDelete: false,
      headers: [
        { text: 'Nama Produk', value: 'productName'},
        { text: 'Harga', value: 'productPrice'},
        { text: 'Kode MB', value: 'kodeMB'},
        { text: 'Nama MB', value: 'namaMB' },
        { text: 'Deskripsi', value: 'desc' },
        { text: 'Bidang', value: 'bidang' },
        { text: 'Image', value: 'img', sortable: false },
        { text: 'Verified', value: 'verified' },
        { text: 'Actions', value: 'actions', sortable: false, width:"100px" },
      ],
      items: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
      defaultItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Tambah Berita' : 'Edit Berita'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.items = [
          {
            productName: 'Jahe Merah Bajakah',
            productPrice: 35000,
            kodeMB: '06281923',
            namaMB: 'Alfisah',
            ktp: '198275612939',
            alamat: 'Jalan Surapati no.61',
            desc: 'Minuman sehat senambah daya tahan tubuh',
            verified: "yes",
            img: "testing url",
            url: "testing url",
            bidang:'food',
            shopee: "shopee url",
            tokopedia: "tokopedia url",
            instagram: "instagram url",
          },
        ]
      },

      editItem (item) {
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.e1 = 2
      },

      deleteItem (item) {
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.items.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
        this.e1 = 1
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.items[this.editedIndex], this.editedItem)
        } else {
          this.items.push(this.editedItem)
        }
        this.e1 = 1
        this.close()
      },
    },
  }
</script>