<template>
  <div>
    <v-row style="margin-top:50px">
      <v-spacer />
      <v-btn disabled>
        Verify
      </v-btn>
    </v-row>
    <v-row >
      <v-col cols="12" lg="4">
        <v-container style="width:100%">
          <img src="https://cf.shopee.co.id/file/f5c87623394807c7ba7c6cfddcc6cf14" alt="" style="max-width: 100%; height: auto;">
        </v-container>
      </v-col>
      <v-col cols="12" lg="8" v-for="item in items">
        <h1>{{item.productName}}</h1>
        <h2 style="color:red">{{item.productPrice}}</h2>

        <div class="my-8">
          <p>Kode MB :  {{item.kodeMB}}</p>
          <p>Nama MB :  {{item.namaMB}}</p>
          <p>KTP :  {{item.ktp}}</p>
          <p>Alamat :  {{item.alamat}}</p>
          <p>Deskripsi :  {{item.desc}}</p>
          <p>Bidang Usaha :  {{item.bidang}}</p>
          <p>Verified :  {{item.verified}}</p>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-data-table
          :headers="headers"
          :items="marketplaces"
          sort-by="calories"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar
              flat
              style="background-color: #40AE49"
              height="100px"
              rounded="lg"
            >
              <v-toolbar-title style="color:white">Marketplace dan Sosial Media Produk</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-dialog
                v-model="dialog"
                max-width="500px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="white"
                    dark
                    outlined
                    class="mb-2"
                    v-bind="attrs"
                    v-on="on"
                  >
                    New Item
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="text-h5">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12">
                          <v-text-field
                            v-model="editedItem.name"
                            label="Marketplace or Social Media"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="8">
                          <v-text-field
                            v-model="editedItem.name"
                            label="Marketplace or Social Media"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="4">
                          <v-select
                            :items="isVerified"
                            v-model="editedItem.verified"
                            label="Verified?"
                          ></v-select>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="close"
                    >
                      Cancel
                    </v-btn>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="save"
                    >
                      Save
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                    <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ marketplace }">
            <v-icon
              small
              class="mr-2"
              @click="editItem(marketplace)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="deleteItem(marketplace)"
            >
              mdi-delete
            </v-icon>
          </template>
          <template v-slot:no-data>
            <v-btn
              color="primary"
              @click="initialize"
            >
              Reset
            </v-btn>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  data(){
    return{
      isVerified:[
        { text: 'Yes', value: 'yes'},
        { text: 'No', value: 'no'},
      ],
      items: [],
      marketplaces:[],
      dialog: false,
      dialogDelete: false,
      headers: [
        { text: 'name', value: 'name' },
        { text: 'link produk', value: 'link' },
        { text: 'status', value: 'status' },
        { text: 'actions', value: 'actions' },
      ],
      editedIndex: -1,
      editedItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
      defaultItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    },
  },
  watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.items = [
          {
            productName: 'Jahe Merah Bajakah',
            productPrice: 35000,
            kodeMB: '06281923',
            namaMB: 'Alfisah',
            ktp: '198275612939',
            alamat: 'Jalan Surapati no.61',
            desc: 'Minuman sehat penambah daya tahan tubuh',
            bidang: 'Food',
            verified: "yes",
            img: "testing url",
            url: "testing url",
            shopee: "shopee url",
            tokopedia: "tokopedia url",
            instagram: "instagram url",
          },
        ]
        this.marketplaces = [
          {
            name: "Shopee",
            link: "testing url",
            status: "verified"
          },
          {
            name: "Tokopedia",
            link: "testing url",
            status: "verified"
          },
          {
            name: "Instagram",
            link: "testing url",
            status: "verified"
          }
        ]
      },

      editItem (marketplace) {
        this.editedIndex = this.marketplaces.indexOf(marketplace)
        this.editedItem = Object.assign({}, marketplace)
        this.dialog = true
      },

      deleteItem (marketplace) {
        this.editedIndex = this.marketplaces.indexOf(marketplace)
        this.editedItem = Object.assign({}, marketplace)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.marketplaces.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.marketplaces[this.editedIndex], this.editedItem)
        } else {
          this.marketplaces.push(this.editedItem)
        }
        this.close()
      },
    },
}
</script>