<template>
  <v-app dark>
    <v-navigation-drawer
        id="app-drawer"
        v-model="inputValue"
        src="https://images.pexels.com/photos/775201/pexels-photo-775201.jpeg"
        app
        color="grey darken-2"
        dark
        floating
        mobile-breakpoint="991"
        persistent
        width="260"
    >
        <v-list-item two-line>
            <v-list-item-avatar color="white">
                <v-img src="https://www.telkom.co.id/data/image_upload/page/1594112895830_compress_PNG%20Icon%20Telkom.png" height="34" contain />
            </v-list-item-avatar>

            <v-list-item-title class="title">TJSL CMS</v-list-item-title>
        </v-list-item>

        <v-divider class="mx-3 mb-3" />

        <v-list v-for="item in items" :key="item.title">
            <v-list-item v-if="!item.items" :to="item.to" active-class="success white--text">
                <v-list-item-action>
                    <v-icon>{{ item.action }}</v-icon>
                </v-list-item-action>
                <v-list-item-title v-text="item.title" />
            </v-list-item>

            <v-list-group
                v-else
                v-model="item.active"
                :prepend-icon="item.action"
                no-action
                active-class="success white--text"
            >
                <template v-slot:activator>
                    <v-list-item-content>
                        <v-list-item-title v-text="item.title"></v-list-item-title>
                    </v-list-item-content>
                </template>

                <v-list-item
                    v-for="child in item.items"
                    :key="child.title"
                    :to="child.to"
                    active-class="success white--text"
                >
                    <v-list-item-content>
                        <v-list-item-title v-text="child.title"></v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list-group>
        </v-list>

        <template v-slot:append>
            <v-list nav>
                <v-list-item to="#">
                    <v-list-item-action>
                        <v-icon>mdi-package-up</v-icon>
                    </v-list-item-action>

                    <v-list-item-title class="font-weight-light">Visit</v-list-item-title>
                </v-list-item>
            </v-list>
        </template>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >

      <!-- <v-app-bar-nav-icon @click.stop="drawer = !drawer" /> -->
      <v-row align="center" class="mx-0">
      <v-spacer />

        <v-col cols="3">
          <v-text-field class="mr-4 purple-input" color="purple" label="Search..." hide-details />
        </v-col>


        <v-menu bottom left offset-y transition="slide-y-transition">
            <template v-slot:activator="{ attrs, on }">
                <v-btn class="toolbar-items" icon v-bind="attrs" v-on="on">
                    <v-badge color="error" overlap>
                        <template slot="badge">
                            {{ notifications.length }}
                        </template>
                        <v-icon color="tertiary">mdi-bell</v-icon>
                    </v-badge>
                </v-btn>
            </template>

            <v-card>
                <v-list dense>
                    <v-list-item v-for="notification in notifications" :key="notification" @click="onClick">
                      <div>
                        <a href="/" class="black--text" style="text-decoration:none">
                          <v-list-item-title v-text="notification" />
                        </a>
                      </div>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-menu>

        <v-btn to="/" icon>
            <v-icon color="tertiary">mdi-account</v-icon>
        </v-btn>
      </v-row>
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <v-footer
      fixed
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data () {
    return {
      notifications: [
        '15 produk UKM harus di verifikasi',
        '5 berita harus di verifikasi',
      ],
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
            {
                action: 'mdi-chart-bar',
                title: 'Dashboard',
                to: '/',
            },
            {
                action: 'mdi-laptop',
                items: [
                    { title: 'Banner', to: '/cms/banner' }, 
                    { title: 'Berita', to: '/cms/berita' },
                    { title: 'Produk', to: '/cms/produk' },
                    { title: 'Program', to: '/cms/program' },
                    { title: 'Event', to: '/cms/event' },
                    { title: 'Gallery Foto', to: '/cms/gallery/foto' },
                    { title: 'Gallery Video', to: '/cms/gallery/video' },
                ],
                title: 'CMS',
            },
        ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'TJSL CMS'
    }
  }
}
</script>
<style>
  .v-image__image{
    filter: brightness(50%);
  }
</style>
