<template>
  <div>
    <v-row justify="center" align="center">
      <v-col cols="6" class="">
        <v-alert
          prominent
          type="error"
        >
          <v-row align="center">
            <v-col class="grow">
              Ada produk yang harus di verifikasi
            </v-col>
            <v-col class="shrink">
              <v-btn>Take action</v-btn>
            </v-col>
          </v-row>
        </v-alert>
      </v-col>
      <v-col cols="6" class="">
        <v-alert
          prominent
          type="warning"
        >
          <v-row align="center">
            <v-col class="grow">
              Ada berita yang harus di verifikasi
            </v-col>
            <v-col class="shrink">
              <v-btn>Take action</v-btn>
            </v-col>
          </v-row>
        </v-alert>
      </v-col>
    </v-row>
    <v-row justify="center" align="center">
      <v-col cols="6">
        <v-card
        class="mt-4 mx-auto"
        width="100%"
        >
          <v-sheet
            class="v-sheet--offset mx-auto"
            color="red"
            elevation="12"
            max-width="calc(100% - 32px)"
          >
            <v-sparkline
              :labels="labels"
              :value="value"
              color="white"
              line-width="2"
              padding="16"
            ></v-sparkline>
          </v-sheet>

          <v-card-text class="pt-6">
            <div class="text-h6 font-weight-light mb-2">
              News Read
            </div>
            <div class="subheading font-weight-light grey--text">
              Last Website Performance
            </div>
            <v-divider class="my-2"></v-divider>
            <v-icon
              class="mr-2"
              small
            >
              mdi-clock
            </v-icon>
            <span class="text-caption grey--text font-weight-light">last registration 26 minutes ago</span>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="6">
        <v-card
        class="mt-4 mx-auto"
        width="100%"
        >
          <v-sheet
            class="v-sheet--offset mx-auto"
            color="cyan"
            elevation="12"
            max-width="calc(100% - 32px)"
          >
            <v-sparkline
              :labels="labels"
              :value="value"
              color="white"
              line-width="2"
              padding="16"
            ></v-sparkline>
          </v-sheet>

          <v-card-text class="pt-6">
            <div class="text-h6 font-weight-light mb-2">
              Website Visitor
            </div>
            <div class="subheading font-weight-light grey--text">
              Last Website Performance
            </div>
            <v-divider class="my-2"></v-divider>
            <v-icon
              class="mr-2"
              small
            >
              mdi-clock
            </v-icon>
            <span class="text-caption grey--text font-weight-light">last registration 26 minutes ago</span>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" class="my-8">
        <h2>Top 3 News</h2>
        <v-row>
          <v-col cols="4">
            <v-card
              class="mx-auto my-8"
              max-width="344"
              outlined
            >
              <v-list-item three-line>
                <v-list-item-content>
                  <div class="text-overline mb-4">
                    News
                  </div>
                  <v-list-item-title class="text-h5 mb-1">
                    Headline 5
                  </v-list-item-title>
                  <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-avatar
                  tile
                  size="80"
                  color="grey"
                ></v-list-item-avatar>
              </v-list-item>

              <v-card-actions>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  Detail
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col cols="4">
            <v-card
              class="mx-auto my-8"
              max-width="344"
              outlined
            >
              <v-list-item three-line>
                <v-list-item-content>
                  <div class="text-overline mb-4">
                    News
                  </div>
                  <v-list-item-title class="text-h5 mb-1">
                    Headline 5
                  </v-list-item-title>
                  <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-avatar
                  tile
                  size="80"
                  color="grey"
                ></v-list-item-avatar>
              </v-list-item>

              <v-card-actions>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  Detail
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col cols="4">
            <v-card
              class="mx-auto my-8"
              max-width="344"
              outlined
            >
              <v-list-item three-line>
                <v-list-item-content>
                  <div class="text-overline mb-4">
                    News
                  </div>
                  <v-list-item-title class="text-h5 mb-1">
                    Headline 5
                  </v-list-item-title>
                  <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-avatar
                  tile
                  size="80"
                  color="grey"
                ></v-list-item-avatar>
              </v-list-item>

              <v-card-actions>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  Detail
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        
      </v-col>
      <v-col cols="12">
        <h2>Top 6 Products</h2>
        <v-row class="my-8">
          <v-col cols="4">
            <v-card
              class="mx-auto my-2"
              max-width="344"
              outlined
            >
              <v-list-item three-line>
                <v-list-item-content>
                  <div class="text-overline mb-4">
                    Product
                  </div>
                  <v-list-item-title class="text-h5 mb-1">
                    Product Title
                  </v-list-item-title>
                  <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-avatar
                  tile
                  size="80"
                  color="grey"
                ></v-list-item-avatar>
              </v-list-item>

              <v-card-actions>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="25" height="25"
                  viewBox="0 0 48 48"
                  style=" fill:#000000;"><path fill="#f4511e" d="M36.683,43H11.317c-2.136,0-3.896-1.679-3.996-3.813l-1.272-27.14C6.022,11.477,6.477,11,7.048,11 h33.904c0.571,0,1.026,0.477,0.999,1.047l-1.272,27.14C40.579,41.321,38.819,43,36.683,43z"></path><path fill="#f4511e" d="M32.5,11.5h-2C30.5,7.364,27.584,4,24,4s-6.5,3.364-6.5,7.5h-2C15.5,6.262,19.313,2,24,2 S32.5,6.262,32.5,11.5z"></path><path fill="#fafafa" d="M24.248,25.688c-2.741-1.002-4.405-1.743-4.405-3.577c0-1.851,1.776-3.195,4.224-3.195 c1.685,0,3.159,0.66,3.888,1.052c0.124,0.067,0.474,0.277,0.672,0.41l0.13,0.087l0.958-1.558l-0.157-0.103 c-0.772-0.521-2.854-1.733-5.49-1.733c-3.459,0-6.067,2.166-6.067,5.039c0,3.257,2.983,4.347,5.615,5.309 c3.07,1.122,4.934,1.975,4.934,4.349c0,1.828-2.067,3.314-4.609,3.314c-2.864,0-5.326-2.105-5.349-2.125l-0.128-0.118l-1.046,1.542 l0.106,0.087c0.712,0.577,3.276,2.458,6.416,2.458c3.619,0,6.454-2.266,6.454-5.158C30.393,27.933,27.128,26.741,24.248,25.688z"></path></svg>
                </v-btn>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg width="25px" height="25px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="512" cy="512" r="512" style="fill:#42b549"/>
                  <path d="M620.4 326.4c-5.6-56.4-51.8-100.3-108-100.3-56.1 0-102.3 43.5-108.7 99.6l29.1 2.3c5.2-40.5 38.6-71.8 79.4-71.8 40.8 0 74.6 31.8 78.9 72.8l29.3-2.6zm94.3-6.5c-32 0-63.9-1.7-95.8 1.1l-29.1 2.6c-25.9 2.3-54.3 8.9-77.6 20.9-24.8-12.9-50.2-19.8-77.9-22l-29.1-2.3c-32-2.6-63.8-.4-95.8-.4h-17.5v418.3h294.4c80.4 0 146.1-67.7 146.1-150.5V319.9h-17.7zM331.4 496.1c0-48.6 38.3-88.1 85.5-88.1s85.5 39.4 85.5 88.1c0 48.6-38.3 88.1-85.5 88.1-47.3 0-85.5-39.5-85.5-88.1zM512 632.9c-12.7-13.9-25.4-27.7-38.1-41.5 8-14.2 23.1-21.3 38.1-21.2 15 0 30.1 7 38.1 21.2-12.7 13.8-25.4 27.6-38.1 41.5zm95.1-48.7c-47.2 0-85.5-39.4-85.5-88.1 0-48.6 38.3-88.1 85.5-88.1s85.5 39.4 85.5 88.1c0 48.6-38.3 88.1-85.5 88.1zM427.6 441.4c30.5 0 55.2 25.5 55.2 56.8 0 31.4-24.7 56.9-55.2 56.9-30.5 0-55.2-25.5-55.2-56.9 0-10.5 2.8-20.3 7.6-28.7 3.9 10 13.5 17.1 24.7 17.1 14.7 0 26.6-12.2 26.6-27.4 0-6.8-2.4-13-6.4-17.8h2.7zm168.8 0c30.5 0 55.2 25.5 55.2 56.8 0 31.4-24.7 56.9-55.2 56.9-30.5 0-55.2-25.5-55.2-56.9 0-10.5 2.7-20.3 7.5-28.7 4 10 13.5 17.1 24.7 17.1 14.7 0 26.6-12.2 26.6-27.4 0-6.8-2.4-13-6.4-17.8h2.8z" style="fill:#fff"/>
                </svg>
                </v-btn>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg style="width:25px;height:25px" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                  </svg>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col cols="4">
            <v-card
              class="mx-auto my-2"
              max-width="344"
              outlined
            >
              <v-list-item three-line>
                <v-list-item-content>
                  <div class="text-overline mb-4">
                    Product
                  </div>
                  <v-list-item-title class="text-h5 mb-1">
                    Product Title
                  </v-list-item-title>
                  <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-avatar
                  tile
                  size="80"
                  color="grey"
                ></v-list-item-avatar>
              </v-list-item>

              <v-card-actions>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="25" height="25"
                  viewBox="0 0 48 48"
                  style=" fill:#000000;"><path fill="#f4511e" d="M36.683,43H11.317c-2.136,0-3.896-1.679-3.996-3.813l-1.272-27.14C6.022,11.477,6.477,11,7.048,11 h33.904c0.571,0,1.026,0.477,0.999,1.047l-1.272,27.14C40.579,41.321,38.819,43,36.683,43z"></path><path fill="#f4511e" d="M32.5,11.5h-2C30.5,7.364,27.584,4,24,4s-6.5,3.364-6.5,7.5h-2C15.5,6.262,19.313,2,24,2 S32.5,6.262,32.5,11.5z"></path><path fill="#fafafa" d="M24.248,25.688c-2.741-1.002-4.405-1.743-4.405-3.577c0-1.851,1.776-3.195,4.224-3.195 c1.685,0,3.159,0.66,3.888,1.052c0.124,0.067,0.474,0.277,0.672,0.41l0.13,0.087l0.958-1.558l-0.157-0.103 c-0.772-0.521-2.854-1.733-5.49-1.733c-3.459,0-6.067,2.166-6.067,5.039c0,3.257,2.983,4.347,5.615,5.309 c3.07,1.122,4.934,1.975,4.934,4.349c0,1.828-2.067,3.314-4.609,3.314c-2.864,0-5.326-2.105-5.349-2.125l-0.128-0.118l-1.046,1.542 l0.106,0.087c0.712,0.577,3.276,2.458,6.416,2.458c3.619,0,6.454-2.266,6.454-5.158C30.393,27.933,27.128,26.741,24.248,25.688z"></path></svg>
                </v-btn>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg width="25px" height="25px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="512" cy="512" r="512" style="fill:#42b549"/>
                  <path d="M620.4 326.4c-5.6-56.4-51.8-100.3-108-100.3-56.1 0-102.3 43.5-108.7 99.6l29.1 2.3c5.2-40.5 38.6-71.8 79.4-71.8 40.8 0 74.6 31.8 78.9 72.8l29.3-2.6zm94.3-6.5c-32 0-63.9-1.7-95.8 1.1l-29.1 2.6c-25.9 2.3-54.3 8.9-77.6 20.9-24.8-12.9-50.2-19.8-77.9-22l-29.1-2.3c-32-2.6-63.8-.4-95.8-.4h-17.5v418.3h294.4c80.4 0 146.1-67.7 146.1-150.5V319.9h-17.7zM331.4 496.1c0-48.6 38.3-88.1 85.5-88.1s85.5 39.4 85.5 88.1c0 48.6-38.3 88.1-85.5 88.1-47.3 0-85.5-39.5-85.5-88.1zM512 632.9c-12.7-13.9-25.4-27.7-38.1-41.5 8-14.2 23.1-21.3 38.1-21.2 15 0 30.1 7 38.1 21.2-12.7 13.8-25.4 27.6-38.1 41.5zm95.1-48.7c-47.2 0-85.5-39.4-85.5-88.1 0-48.6 38.3-88.1 85.5-88.1s85.5 39.4 85.5 88.1c0 48.6-38.3 88.1-85.5 88.1zM427.6 441.4c30.5 0 55.2 25.5 55.2 56.8 0 31.4-24.7 56.9-55.2 56.9-30.5 0-55.2-25.5-55.2-56.9 0-10.5 2.8-20.3 7.6-28.7 3.9 10 13.5 17.1 24.7 17.1 14.7 0 26.6-12.2 26.6-27.4 0-6.8-2.4-13-6.4-17.8h2.7zm168.8 0c30.5 0 55.2 25.5 55.2 56.8 0 31.4-24.7 56.9-55.2 56.9-30.5 0-55.2-25.5-55.2-56.9 0-10.5 2.7-20.3 7.5-28.7 4 10 13.5 17.1 24.7 17.1 14.7 0 26.6-12.2 26.6-27.4 0-6.8-2.4-13-6.4-17.8h2.8z" style="fill:#fff"/>
                </svg>
                </v-btn>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg style="width:25px;height:25px" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                  </svg>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col cols="4">
            <v-card
              class="mx-auto my-2"
              max-width="344"
              outlined
            >
              <v-list-item three-line>
                <v-list-item-content>
                  <div class="text-overline mb-4">
                    Product
                  </div>
                  <v-list-item-title class="text-h5 mb-1">
                    Product Title
                  </v-list-item-title>
                  <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-avatar
                  tile
                  size="80"
                  color="grey"
                ></v-list-item-avatar>
              </v-list-item>

              <v-card-actions>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="25" height="25"
                  viewBox="0 0 48 48"
                  style=" fill:#000000;"><path fill="#f4511e" d="M36.683,43H11.317c-2.136,0-3.896-1.679-3.996-3.813l-1.272-27.14C6.022,11.477,6.477,11,7.048,11 h33.904c0.571,0,1.026,0.477,0.999,1.047l-1.272,27.14C40.579,41.321,38.819,43,36.683,43z"></path><path fill="#f4511e" d="M32.5,11.5h-2C30.5,7.364,27.584,4,24,4s-6.5,3.364-6.5,7.5h-2C15.5,6.262,19.313,2,24,2 S32.5,6.262,32.5,11.5z"></path><path fill="#fafafa" d="M24.248,25.688c-2.741-1.002-4.405-1.743-4.405-3.577c0-1.851,1.776-3.195,4.224-3.195 c1.685,0,3.159,0.66,3.888,1.052c0.124,0.067,0.474,0.277,0.672,0.41l0.13,0.087l0.958-1.558l-0.157-0.103 c-0.772-0.521-2.854-1.733-5.49-1.733c-3.459,0-6.067,2.166-6.067,5.039c0,3.257,2.983,4.347,5.615,5.309 c3.07,1.122,4.934,1.975,4.934,4.349c0,1.828-2.067,3.314-4.609,3.314c-2.864,0-5.326-2.105-5.349-2.125l-0.128-0.118l-1.046,1.542 l0.106,0.087c0.712,0.577,3.276,2.458,6.416,2.458c3.619,0,6.454-2.266,6.454-5.158C30.393,27.933,27.128,26.741,24.248,25.688z"></path></svg>
                </v-btn>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg width="25px" height="25px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="512" cy="512" r="512" style="fill:#42b549"/>
                  <path d="M620.4 326.4c-5.6-56.4-51.8-100.3-108-100.3-56.1 0-102.3 43.5-108.7 99.6l29.1 2.3c5.2-40.5 38.6-71.8 79.4-71.8 40.8 0 74.6 31.8 78.9 72.8l29.3-2.6zm94.3-6.5c-32 0-63.9-1.7-95.8 1.1l-29.1 2.6c-25.9 2.3-54.3 8.9-77.6 20.9-24.8-12.9-50.2-19.8-77.9-22l-29.1-2.3c-32-2.6-63.8-.4-95.8-.4h-17.5v418.3h294.4c80.4 0 146.1-67.7 146.1-150.5V319.9h-17.7zM331.4 496.1c0-48.6 38.3-88.1 85.5-88.1s85.5 39.4 85.5 88.1c0 48.6-38.3 88.1-85.5 88.1-47.3 0-85.5-39.5-85.5-88.1zM512 632.9c-12.7-13.9-25.4-27.7-38.1-41.5 8-14.2 23.1-21.3 38.1-21.2 15 0 30.1 7 38.1 21.2-12.7 13.8-25.4 27.6-38.1 41.5zm95.1-48.7c-47.2 0-85.5-39.4-85.5-88.1 0-48.6 38.3-88.1 85.5-88.1s85.5 39.4 85.5 88.1c0 48.6-38.3 88.1-85.5 88.1zM427.6 441.4c30.5 0 55.2 25.5 55.2 56.8 0 31.4-24.7 56.9-55.2 56.9-30.5 0-55.2-25.5-55.2-56.9 0-10.5 2.8-20.3 7.6-28.7 3.9 10 13.5 17.1 24.7 17.1 14.7 0 26.6-12.2 26.6-27.4 0-6.8-2.4-13-6.4-17.8h2.7zm168.8 0c30.5 0 55.2 25.5 55.2 56.8 0 31.4-24.7 56.9-55.2 56.9-30.5 0-55.2-25.5-55.2-56.9 0-10.5 2.7-20.3 7.5-28.7 4 10 13.5 17.1 24.7 17.1 14.7 0 26.6-12.2 26.6-27.4 0-6.8-2.4-13-6.4-17.8h2.8z" style="fill:#fff"/>
                </svg>
                </v-btn>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg style="width:25px;height:25px" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                  </svg>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col cols="4">
            <v-card
              class="mx-auto my-2"
              max-width="344"
              outlined
            >
              <v-list-item three-line>
                <v-list-item-content>
                  <div class="text-overline mb-4">
                    Product
                  </div>
                  <v-list-item-title class="text-h5 mb-1">
                    Product Title
                  </v-list-item-title>
                  <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-avatar
                  tile
                  size="80"
                  color="grey"
                ></v-list-item-avatar>
              </v-list-item>

              <v-card-actions>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="25" height="25"
                  viewBox="0 0 48 48"
                  style=" fill:#000000;"><path fill="#f4511e" d="M36.683,43H11.317c-2.136,0-3.896-1.679-3.996-3.813l-1.272-27.14C6.022,11.477,6.477,11,7.048,11 h33.904c0.571,0,1.026,0.477,0.999,1.047l-1.272,27.14C40.579,41.321,38.819,43,36.683,43z"></path><path fill="#f4511e" d="M32.5,11.5h-2C30.5,7.364,27.584,4,24,4s-6.5,3.364-6.5,7.5h-2C15.5,6.262,19.313,2,24,2 S32.5,6.262,32.5,11.5z"></path><path fill="#fafafa" d="M24.248,25.688c-2.741-1.002-4.405-1.743-4.405-3.577c0-1.851,1.776-3.195,4.224-3.195 c1.685,0,3.159,0.66,3.888,1.052c0.124,0.067,0.474,0.277,0.672,0.41l0.13,0.087l0.958-1.558l-0.157-0.103 c-0.772-0.521-2.854-1.733-5.49-1.733c-3.459,0-6.067,2.166-6.067,5.039c0,3.257,2.983,4.347,5.615,5.309 c3.07,1.122,4.934,1.975,4.934,4.349c0,1.828-2.067,3.314-4.609,3.314c-2.864,0-5.326-2.105-5.349-2.125l-0.128-0.118l-1.046,1.542 l0.106,0.087c0.712,0.577,3.276,2.458,6.416,2.458c3.619,0,6.454-2.266,6.454-5.158C30.393,27.933,27.128,26.741,24.248,25.688z"></path></svg>
                </v-btn>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg width="25px" height="25px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="512" cy="512" r="512" style="fill:#42b549"/>
                  <path d="M620.4 326.4c-5.6-56.4-51.8-100.3-108-100.3-56.1 0-102.3 43.5-108.7 99.6l29.1 2.3c5.2-40.5 38.6-71.8 79.4-71.8 40.8 0 74.6 31.8 78.9 72.8l29.3-2.6zm94.3-6.5c-32 0-63.9-1.7-95.8 1.1l-29.1 2.6c-25.9 2.3-54.3 8.9-77.6 20.9-24.8-12.9-50.2-19.8-77.9-22l-29.1-2.3c-32-2.6-63.8-.4-95.8-.4h-17.5v418.3h294.4c80.4 0 146.1-67.7 146.1-150.5V319.9h-17.7zM331.4 496.1c0-48.6 38.3-88.1 85.5-88.1s85.5 39.4 85.5 88.1c0 48.6-38.3 88.1-85.5 88.1-47.3 0-85.5-39.5-85.5-88.1zM512 632.9c-12.7-13.9-25.4-27.7-38.1-41.5 8-14.2 23.1-21.3 38.1-21.2 15 0 30.1 7 38.1 21.2-12.7 13.8-25.4 27.6-38.1 41.5zm95.1-48.7c-47.2 0-85.5-39.4-85.5-88.1 0-48.6 38.3-88.1 85.5-88.1s85.5 39.4 85.5 88.1c0 48.6-38.3 88.1-85.5 88.1zM427.6 441.4c30.5 0 55.2 25.5 55.2 56.8 0 31.4-24.7 56.9-55.2 56.9-30.5 0-55.2-25.5-55.2-56.9 0-10.5 2.8-20.3 7.6-28.7 3.9 10 13.5 17.1 24.7 17.1 14.7 0 26.6-12.2 26.6-27.4 0-6.8-2.4-13-6.4-17.8h2.7zm168.8 0c30.5 0 55.2 25.5 55.2 56.8 0 31.4-24.7 56.9-55.2 56.9-30.5 0-55.2-25.5-55.2-56.9 0-10.5 2.7-20.3 7.5-28.7 4 10 13.5 17.1 24.7 17.1 14.7 0 26.6-12.2 26.6-27.4 0-6.8-2.4-13-6.4-17.8h2.8z" style="fill:#fff"/>
                </svg>
                </v-btn>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg style="width:25px;height:25px" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                  </svg>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col cols="4">
            <v-card
              class="mx-auto my-2"
              max-width="344"
              outlined
            >
              <v-list-item three-line>
                <v-list-item-content>
                  <div class="text-overline mb-4">
                    Product
                  </div>
                  <v-list-item-title class="text-h5 mb-1">
                    Product Title
                  </v-list-item-title>
                  <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-avatar
                  tile
                  size="80"
                  color="grey"
                ></v-list-item-avatar>
              </v-list-item>

              <v-card-actions>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="25" height="25"
                  viewBox="0 0 48 48"
                  style=" fill:#000000;"><path fill="#f4511e" d="M36.683,43H11.317c-2.136,0-3.896-1.679-3.996-3.813l-1.272-27.14C6.022,11.477,6.477,11,7.048,11 h33.904c0.571,0,1.026,0.477,0.999,1.047l-1.272,27.14C40.579,41.321,38.819,43,36.683,43z"></path><path fill="#f4511e" d="M32.5,11.5h-2C30.5,7.364,27.584,4,24,4s-6.5,3.364-6.5,7.5h-2C15.5,6.262,19.313,2,24,2 S32.5,6.262,32.5,11.5z"></path><path fill="#fafafa" d="M24.248,25.688c-2.741-1.002-4.405-1.743-4.405-3.577c0-1.851,1.776-3.195,4.224-3.195 c1.685,0,3.159,0.66,3.888,1.052c0.124,0.067,0.474,0.277,0.672,0.41l0.13,0.087l0.958-1.558l-0.157-0.103 c-0.772-0.521-2.854-1.733-5.49-1.733c-3.459,0-6.067,2.166-6.067,5.039c0,3.257,2.983,4.347,5.615,5.309 c3.07,1.122,4.934,1.975,4.934,4.349c0,1.828-2.067,3.314-4.609,3.314c-2.864,0-5.326-2.105-5.349-2.125l-0.128-0.118l-1.046,1.542 l0.106,0.087c0.712,0.577,3.276,2.458,6.416,2.458c3.619,0,6.454-2.266,6.454-5.158C30.393,27.933,27.128,26.741,24.248,25.688z"></path></svg>
                </v-btn>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg width="25px" height="25px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="512" cy="512" r="512" style="fill:#42b549"/>
                  <path d="M620.4 326.4c-5.6-56.4-51.8-100.3-108-100.3-56.1 0-102.3 43.5-108.7 99.6l29.1 2.3c5.2-40.5 38.6-71.8 79.4-71.8 40.8 0 74.6 31.8 78.9 72.8l29.3-2.6zm94.3-6.5c-32 0-63.9-1.7-95.8 1.1l-29.1 2.6c-25.9 2.3-54.3 8.9-77.6 20.9-24.8-12.9-50.2-19.8-77.9-22l-29.1-2.3c-32-2.6-63.8-.4-95.8-.4h-17.5v418.3h294.4c80.4 0 146.1-67.7 146.1-150.5V319.9h-17.7zM331.4 496.1c0-48.6 38.3-88.1 85.5-88.1s85.5 39.4 85.5 88.1c0 48.6-38.3 88.1-85.5 88.1-47.3 0-85.5-39.5-85.5-88.1zM512 632.9c-12.7-13.9-25.4-27.7-38.1-41.5 8-14.2 23.1-21.3 38.1-21.2 15 0 30.1 7 38.1 21.2-12.7 13.8-25.4 27.6-38.1 41.5zm95.1-48.7c-47.2 0-85.5-39.4-85.5-88.1 0-48.6 38.3-88.1 85.5-88.1s85.5 39.4 85.5 88.1c0 48.6-38.3 88.1-85.5 88.1zM427.6 441.4c30.5 0 55.2 25.5 55.2 56.8 0 31.4-24.7 56.9-55.2 56.9-30.5 0-55.2-25.5-55.2-56.9 0-10.5 2.8-20.3 7.6-28.7 3.9 10 13.5 17.1 24.7 17.1 14.7 0 26.6-12.2 26.6-27.4 0-6.8-2.4-13-6.4-17.8h2.7zm168.8 0c30.5 0 55.2 25.5 55.2 56.8 0 31.4-24.7 56.9-55.2 56.9-30.5 0-55.2-25.5-55.2-56.9 0-10.5 2.7-20.3 7.5-28.7 4 10 13.5 17.1 24.7 17.1 14.7 0 26.6-12.2 26.6-27.4 0-6.8-2.4-13-6.4-17.8h2.8z" style="fill:#fff"/>
                </svg>
                </v-btn>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg style="width:25px;height:25px" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                  </svg>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col cols="4">
            <v-card
              class="mx-auto my-2"
              max-width="344"
              outlined
            >
              <v-list-item three-line>
                <v-list-item-content>
                  <div class="text-overline mb-4">
                    Product
                  </div>
                  <v-list-item-title class="text-h5 mb-1">
                    Product Title
                  </v-list-item-title>
                  <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-avatar
                  tile
                  size="80"
                  color="grey"
                ></v-list-item-avatar>
              </v-list-item>

              <v-card-actions>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="25" height="25"
                  viewBox="0 0 48 48"
                  style=" fill:#000000;"><path fill="#f4511e" d="M36.683,43H11.317c-2.136,0-3.896-1.679-3.996-3.813l-1.272-27.14C6.022,11.477,6.477,11,7.048,11 h33.904c0.571,0,1.026,0.477,0.999,1.047l-1.272,27.14C40.579,41.321,38.819,43,36.683,43z"></path><path fill="#f4511e" d="M32.5,11.5h-2C30.5,7.364,27.584,4,24,4s-6.5,3.364-6.5,7.5h-2C15.5,6.262,19.313,2,24,2 S32.5,6.262,32.5,11.5z"></path><path fill="#fafafa" d="M24.248,25.688c-2.741-1.002-4.405-1.743-4.405-3.577c0-1.851,1.776-3.195,4.224-3.195 c1.685,0,3.159,0.66,3.888,1.052c0.124,0.067,0.474,0.277,0.672,0.41l0.13,0.087l0.958-1.558l-0.157-0.103 c-0.772-0.521-2.854-1.733-5.49-1.733c-3.459,0-6.067,2.166-6.067,5.039c0,3.257,2.983,4.347,5.615,5.309 c3.07,1.122,4.934,1.975,4.934,4.349c0,1.828-2.067,3.314-4.609,3.314c-2.864,0-5.326-2.105-5.349-2.125l-0.128-0.118l-1.046,1.542 l0.106,0.087c0.712,0.577,3.276,2.458,6.416,2.458c3.619,0,6.454-2.266,6.454-5.158C30.393,27.933,27.128,26.741,24.248,25.688z"></path></svg>
                </v-btn>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg width="25px" height="25px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="512" cy="512" r="512" style="fill:#42b549"/>
                  <path d="M620.4 326.4c-5.6-56.4-51.8-100.3-108-100.3-56.1 0-102.3 43.5-108.7 99.6l29.1 2.3c5.2-40.5 38.6-71.8 79.4-71.8 40.8 0 74.6 31.8 78.9 72.8l29.3-2.6zm94.3-6.5c-32 0-63.9-1.7-95.8 1.1l-29.1 2.6c-25.9 2.3-54.3 8.9-77.6 20.9-24.8-12.9-50.2-19.8-77.9-22l-29.1-2.3c-32-2.6-63.8-.4-95.8-.4h-17.5v418.3h294.4c80.4 0 146.1-67.7 146.1-150.5V319.9h-17.7zM331.4 496.1c0-48.6 38.3-88.1 85.5-88.1s85.5 39.4 85.5 88.1c0 48.6-38.3 88.1-85.5 88.1-47.3 0-85.5-39.5-85.5-88.1zM512 632.9c-12.7-13.9-25.4-27.7-38.1-41.5 8-14.2 23.1-21.3 38.1-21.2 15 0 30.1 7 38.1 21.2-12.7 13.8-25.4 27.6-38.1 41.5zm95.1-48.7c-47.2 0-85.5-39.4-85.5-88.1 0-48.6 38.3-88.1 85.5-88.1s85.5 39.4 85.5 88.1c0 48.6-38.3 88.1-85.5 88.1zM427.6 441.4c30.5 0 55.2 25.5 55.2 56.8 0 31.4-24.7 56.9-55.2 56.9-30.5 0-55.2-25.5-55.2-56.9 0-10.5 2.8-20.3 7.6-28.7 3.9 10 13.5 17.1 24.7 17.1 14.7 0 26.6-12.2 26.6-27.4 0-6.8-2.4-13-6.4-17.8h2.7zm168.8 0c30.5 0 55.2 25.5 55.2 56.8 0 31.4-24.7 56.9-55.2 56.9-30.5 0-55.2-25.5-55.2-56.9 0-10.5 2.7-20.3 7.5-28.7 4 10 13.5 17.1 24.7 17.1 14.7 0 26.6-12.2 26.6-27.4 0-6.8-2.4-13-6.4-17.8h2.8z" style="fill:#fff"/>
                </svg>
                </v-btn>
                <v-btn
                  outlined
                  rounded
                  text
                >
                  <svg style="width:25px;height:25px" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                  </svg>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        
      </v-col>

    </v-row>
  </div>
</template>

<script>
  export default {
    data: () => ({
      labels: [
        '12am',
        '3am',
        '6am',
        '9am',
        '12pm',
        '3pm',
        '6pm',
        '9pm',
      ],
      value: [
        200,
        675,
        410,
        390,
        310,
        460,
        250,
        240,
      ],
    }),
  }
</script>
