<template>
  <v-data-table
    :headers="headers"
    :items="items"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar
        flat
        style="background-color: #40AE49"
        height="100px"
        rounded="lg"
      >
        <v-toolbar-title style="color:white">Event yang ditampilkan</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-dialog
          v-model="dialog"
          max-width="900px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="white"
              dark
              outlined
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              New Event
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                  >
                    <v-text-field
                      v-model="editedItem.title"
                      label="Nama Event"
                    ></v-text-field>
                  </v-col>
                  <v-row>
                    <v-col cols="12" lg="5">
                      <div class="ml-3">
                        <h3>Tanggal Event</h3>
                        <v-date-picker
                          v-model="editedItem.date"
                          range
                        ></v-date-picker>
                      </div>
                    </v-col>
                    <v-col cols="12" lg="7">
                      <v-textarea
                        v-model="editedItem.desc"
                        name="input-7-1"
                        label="Deskripsi"
                        hint="Hint text"
                      ></v-textarea>
                      <v-text-field
                        v-model="editedItem.loc"
                        label="Lokasi"
                      ></v-text-field>
                      <v-text-field
                        v-model="editedItem.host"
                        label="Penyelenggara"
                      ></v-text-field>
                      <v-file-input
                        :rules="rules"
                        v-model="editedItem.img"
                        accept="image/png, image/jpeg, image/bmp"
                        placeholder="Upload Image"
                        prepend-icon="mdi-camera"
                        label="Image"
                      ></v-file-input>
                    </v-col>
                  </v-row>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancel
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn
        color="primary"
        @click="initialize"
      >
        Reset
      </v-btn>
    </template>
  </v-data-table>
</template>
<script>
  export default {
    data: () => ({
      dialog: false,
      dialogDelete: false,
      headers: [
        { text: 'ID', value: 'id' },
        { text: 'Nama', value: 'title' },
        { text: 'Deskripsi', value: 'desc' },
        { text: 'Tanggal', value: 'date' },
        { text: 'Lokasi', value: 'loc' },
        { text: 'Penyelenggara', value: 'host' },
        { text: 'Image', value: 'img', sortable: false },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      items: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
      defaultItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Event' : 'Edit Event'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.items = [
          {
            title: 'Event 1',
            id: 159,
            title: "Event 1 Title",
            desc: "Event 1 desc",
            date: "2022-10-12",
            buttonText: "Event 1 button text",
            loc: "Bandung",
            host: "CDC Pusat",
            img: "[File Object]",
            url: "testing url"
          },
        ]
      },

      editItem (item) {
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.items.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.items[this.editedIndex], this.editedItem)
        } else {
          this.items.push(this.editedItem)
        }
        this.close()
      },
    },
  }
</script>